body{
	color: black;
	background-color: #FFCA08;
	font: arial;
	font-size:14pt;
}
div{
	background-color: black;
	color: white;
	
}
h2{
	color: #FFCA08;
}
h1{
	color: black;
	font: Verdana;
}